.skill{
    width: 330px;
    background-color: burlywood;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
}
.iconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    width: 70px;
    height: 70px;
    background-color: black;
}