.mainContainer{
    width: 100%;
    min-height: 100vh;
    background-color: olive;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
}
.container h2{
    background-color: dimgrey;
    margin-bottom: 60px;
}
.projectsContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80%;
}