.main{
    height: 100vh;
    background-color: lightgreen;
}
.greeting{
    width: 450px;
    background-color: hotpink;
}
.photo{
    width: 450px;
    height: 400px;
    background-color: hotpink;
}